/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.banner_content .banner_text:first-child{
		margin-right: 20%;
	}


	footer .footer_content{
		text-align: center;
	}

	footer .right_side{
		margin-top: 5px;
	}

	.norm_content .dop:before{
		clear: both;
		content: "";
		display: block;
	}

	.norm_content .dop{
		margin: 0;
		width: 100%;
		text-align: center;
		padding-top: 30px;
	}

	.about_block .item .kapsula{
		max-width: 100%;
		margin: 0;
	}

	.content_404 .left .t_404{
		font-size: 300px;
	}

	.content_404 .left .link_container .sub_bottom_btn{
		min-width: 170px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.about_middle_block .text{
		font-size: 18px;
		line-height: 23px;
	}

	.about_bottom_items .item .text{
		font-size: 18px;
		line-height: 26px;
	}

	.about_block .item{
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.about_block .about_2ph{
		position: relative;
		display: block;
		margin: 15px auto 35px;
		transform: translateY(0);

	}

	.vit_container{
		display: inline-block;
	}

	.page_title{
		font-size: 28px;
		line-height: 30px;
	}

	.norm_content .dop .item .icon{
		margin-right: 15px;
	}

	header{
		padding-top: 70px;
	}

	.banner_content .banner_text:first-child{
		margin-right: 0;
		margin-bottom: 10px;
	}

	.banner_content .banner_text{
		display: block;
	}

	.logo{
		width: 100px;
		max-width: none;
	}

	.mnu_line{
		height: 70px;
	}

	.mnu{
		display: none;
		position: absolute;
		left: 0;
		top: 100px;
		width: 100%;
		height: auto;
		top: 69px;
	}

	.mnu li{
		line-height: 30px;
		height: auto;
		background-color: #b24567;
		padding: 10px 15px 10px;
		text-align: right;
		border-bottom: 1px solid rgba(255,255,255,.8);

	}

	.mnu li:first-child{
		padding-top: 0;
	}

	.mnu > li:last-child{
		padding-bottom: 25px;
		border-bottom: 0;
	}

	.mnu li:hover:after{
		display: none;
	}


	.btn_burger{
		display: block;
	}

	.btn_burger.active + .mnu{
		display: block;
	}

	.mnu li a{
		display: block;
		padding: 0!important;
	}

	.mnu_list li > ul{
		position: relative;
		display: block !important;
	}

	.mnu_list li > ul a{
		text-align: right;
	}

	.mnu_list li > ul{
		padding: 15px 0 0;
	}

	.mnu_list li > ul li{
		padding: 0;
		border: none;
		line-height: initial;
		padding: 5px 0;
	}

	.mnu_list li > ul li a{
		font-size: 18px;
	}

	.mnu_list .mnu > li.submenu > ul li.sub > ul{
		right: 0;
		position: relative;
		padding-bottom: 0;
	}

	.mnu_list .mnu > li.submenu > ul li.sub > ul li{
		padding-bottom: 0;
	}

	.banner_content .banner_text:first-child{
		margin-right: 0%;
	}

	.thr_wrap .item .title{
		font-size: 22px;
		padding-top: 20px;
	}

	.title_bordered{
		font-size: 32px;
		padding-bottom: 10px;
	}

	.descr_main{
		font-size: 22px;
		margin-top: 20px;
		line-height: 27px;
	}

	.pre_header{
		margin-bottom: 30px;
	}

	.main_pluses{
		margin-bottom: 30px;
	}

	.main_pluses .item{
		padding: 0 20px;
		font-size: 14px;
	}

	.main_pluses .item .text{
		line-height: 20px;
	}

	.main .bad{
		font-size: 22px;
		margin-bottom: 25px;
	}

	footer .footer_content{
		text-align: center;
	}

	footer .footer_content ul{
		text-align: left;
	}

	footer .right_side{
		margin-top: 20px;
		margin-bottom: 10px;
		max-width: 100%;
	}

	footer .right_side img{
		max-width: 100%;
	}

	.banner_content .banner_text{
		font-size: 18px;
	}

	.banner_content .text_content{
		width: 50%;
	}


	body .vit_container .vit_e{
		left: 0px;
		top: 17px;
	}

	body .vit_container .vit_fe{
		left: 0;
		right: 0;
		top: 0px;
		margin: 0 auto;
	}

	body .vit_container .vit_imb{
		left: 28%;
		top: 135px;
	}

	body .vit_container .vit_glu{
		left: auto;
		right: 5%;
		top: 105px;
	}

	body .vit_container .vit_fol{
		top: 230px;
		left: 10%;
	}

	body .vit_container .vit_rut{
		top: 230px;
		left: 55%;
	}

	body .vit_container .vit_dud{
		left: 0;
		right: 0;
		top: 0px;
		margin: 0 auto;
	}

	body .vit_container .vit_zn{
		left: 0px;
		top: 95px;
	}

	body .vit_container .vit_bro{
		left: auto;
		top: 55px;
		right: 0;
	}

	body .vit_container .vit_vit{
		left: 235px;
		top: 145px;
	}

	body .vit_container .vit_c{
		top: 235px;
		left: 110px;
	}

	body .vit_container .vit_mg{
		top: 210px;
		left: auto;
		right: 30px;
	}

	.content_404 .left .text{
		font-size: 32px;
	}

	.content_404 .left .t_404{
		font-size: 250px;
	}

	.content_404 .left .more .title{
		font-size: 34px;
	}

	.content_404 .left .link_container .sub_bottom_btn{
		min-width: 140px;
	}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.content_404 .left .link_container .sub_bottom_btn{
		margin-right: 20px;
	}

	.content_404 .left .t_404{
		font-size: 200px;
		margin-bottom: 15px;
	}

	.content_404 .left .text{
		font-size: 24px;
		margin-bottom: 15px;
	}

	.content_404 .left .more .title{
		font-size: 26px;
	}

	.popup_spec{
		top: 90px;
		padding: 25px 15px 25px;
	}

	.popup_text{
		font-size: 18px;
		line-height: 26px;

	}

	.content_text img.fr{
		width: auto;
		float: none;
		display: block;
		margin: 0 auto 20px;
	}

	.pdf_link{
		float: none;
		display: block;
		width: 100%;
		font-size: 18px;
		padding: 0;
		padding-bottom: 30px;
		text-align: center;

	}

	.simp_pms{
		width: 100%;
		margin-top: 30px;
	}

	.simp_2{
		width: auto;
		float: none;
		display: block;
		margin: 0 auto;
	}

	.page_title{
		font-size: 25px;
		line-height: 28px;
		margin-bottom: 25px;
	}

	.plan_content,
	.content_text{
		font-size: 16px;
		line-height: 20px;
	}

	.plan_content h3{
		margin: 25px 0;
	}
	
	.norm_content .dop .item{
		width: 100%;
		margin: 0 0 15px;
	}


	.inner_title{
		font-size: 23px;
	}

	.about_icon_set .item:nth-child(odd){
		margin-right: .5%;
	}

	.about_icon_set .item{
		width: 45%;
		margin-right: 0;
	}

	.text_content{
		width: 70%;
	}

	.banner_content{
		padding: 0;
	}

	.banner_content .banner_text:first-child{
		margin-right: 0;
	}

	.banner_content .banner_text{
		font-size: 16px;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.under_footer{
		font-size: 45px;
	}


	.vit_container a.vit_link{
		max-width: 75px;
	}

	body .vit_container .vit_e{
		left: 15%;
		top: 17px;
	}

	body .vit_container .vit_fe{
		left: 0;
		right: 0;
		top: 0px;
		margin: 0 auto;
	}

	body .vit_container .vit_imb{
		left: 28%;
		top: 90px;
	}

	body .vit_container .vit_glu{
		left: auto;
		right: 14%;
		top: 50px;
	}

	body .vit_container .vit_fol{
		top: 195px;
		left: 0;
		right: 0;
		margin: auto;
	}

	body .vit_container .vit_rut{
		top: 125px;
		left: 55%;
	}

	body .vit_container .vit_zn{
		left: 20%;
		top: 70px;
	}

	body .vit_container .vit_bro{
		left: auto;
		top: 55px;
		right: 15%;
	}

	body .vit_container .vit_vit{
		left: 0;
		top: 125px;
		right: 0;
		margin: auto;
	}

	body .vit_container .vit_c{
		top: 185px;
		left: 25%;
	}

	body .vit_container .vit_mg{
		top: 180px;
		left: auto;
		right: 22%;
	}

	.vit_container{
		min-height: 280px;
	}

	.info_block strong{
		font-size: 30px;
	}

	.info_block {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		line-height: 16px;
	}

	.info_block small{
		font-size: 15px;
		margin-top: 10px;
	}

	.about_block{
		padding: 25px 0 15px;
	}

	.about_middle_block{
		padding: 25px 0;
	}

	.about_middle_block .left,
	.about_middle_block .right{
		width: 100%;
		margin-right: 0;
	}

	.about_middle_block .text {
		font-size: 16px;
		color: #000;
		line-height: 22px;
		font-weight: 300;
		margin-bottom: 15px;
	}

	.about_middle_block .right img{
		max-width: 455px;
		display: block;
		margin: 0 auto;
	}

	.bolded_title{
		margin-bottom: 15px;
	}

	.about_block .item .kapsula{
		max-width: 60%;
	}

	.about_bottom_block{
		padding-top: 25px;
	}

	.about_bottom_items{
		padding-top: 20px;
	}

	.about_bottom_items .item{
		width: 45%;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.about_bottom_items .item .text{
		font-size: 16px;
		line-height: 24px;
	}

	.about_bottom_items .item .icon{
		margin-bottom: 15px;
	}
}

@media only screen and (max-width : 680px){
	.content_404 .left{
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
	}

	.content_404 .right{
		width: 100%;
		margin: 0;
		padding-bottom: 30px;
		display: none;
	}

	.content_404 .right img{
		max-width: 460px;
		display: block;
		margin: 0 auto;
	}

	.content_404{
		padding-top: 30px;
	}

	.content_404 .left .t_404{
		font-size: 130px;
		margin-bottom: 0;
	}

	.content_404 .left .text{
		margin-bottom: 0;
	}
}

@media only screen and (max-width : 550px){

	.popup_spec{
		top: 70px;
		padding: 15px 15px 25px;
	}

	.popup_text{
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 15px;
	}

	.btn_wrap a{
		display: block;
		margin: 0 auto 10px!important;
		width: 80%;
	}

	.popup_spec .popup_title{
		font-size: 22px;
		margin-bottom: 15px;
	}

	.faq_content .item .faq_title{
		font-size: 18px;
	}

	.faq_content .item .faq_ask{
		padding: 15px 10px;
	}

	.faq_content .item .faq_ask p{
		font-size: 14px;
		line-height: 18px;
	}

	.calendar_wrap{
		background-color: #faf7f0;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 25px;
	}

	.calendar_main_banner .appl_icons{
		bottom: 0;
	}

	.plan_content h3{
		font-size: 18px;
		line-height: 20px;
		margin: 15px 0;
	}

	.norm_1,
	.norm_2,
	.plan_1,
	.plan_2{
		width: 50%;
	}

	.norm_content .top_p{
		margin-bottom: 15px;
	}

	.norm_content{
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 18px;
	}

	.about_icon_set .item .icon{
		margin-bottom: 10px;
	}

	.about_icon_set .item:nth-child(odd){
		margin-right: 0;
	}

	.about_icon_set .item{
		width: 100%;
		margin-bottom: 30px;
	}

	.pre_header_content img{
		width: auto !important;
		margin-bottom: 10px;
		max-width: 60%;
	}

	.pre_header_content img:last-child{
		margin-bottom: 0;
	}

	.pre_header_content{
		padding: 15px;
	}

	.main_pluses{
		flex-direction: column;
		align-items: center;
	}

	.main_pluses .item{
		font-size: 18px;
	}

	.main_pluses .item .text{
		line-height: initial;
		font-size: 14px;
	}

	.main_pluses{
		width: 100%;
	}

	.main_descr .left{
		margin-bottom: 15px;
	}

	.main_descr .right,
	.main_descr .left{
		display: block;
		width: 100%;
	}

	.main_descr{
		margin-bottom: 10px;	
	}

	.main_pluses .item .wrap_img{
		margin-bottom: 10px;
	}

	.main_pluses .item{
		margin-bottom: 15px;
	}

	.thr_wrap .item{
		width: 100%;
		float: none;
		display: block;
	}

	.title_bordered{
		font-size: 25px;
	}

	.descr_main{
		font-size: 18px;
	}

	.main_descr .right{
		text-align: center;
	}

	.main_descr .right img{
		width: 70%;
	}

	.main .bad{
		font-size: 18px;
		line-height: 25px;

	}

	footer .footer_content{
		text-align: left;
	}

	.footer_list.footer_mnu{
		padding-left: 0;
	}

	footer .footer_content ul{
		width: 100%;
		margin-bottom: 15px;
		padding-right: 0;
	}

	footer .footer_content ul li a{
		display: block;
	}

	footer .lic{
		text-align: center;
	}

	.under_footer{
		font-size: 40px;
	}

	footer .right_side{
		margin-left: 0;
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.thr_wrap .item .title{
		font-size: 27px;
	}

	.reviews{
		width: 100%;
		margin: 25px auto;
	}

	.about_block .about_2ph{
		max-width: 60%;
	}

	.about_block .item .kapsula{
		max-width: 80%;
	}

	.bolded_title{
		font-size: 28px;
		line-height: 33px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.content_404 .left .link_container .sub_bottom_btn{
		display: block;
		margin: 0 auto 10px!important;
	}

	.content_404 .left .link_container{
		padding-top: 20px;
	}

	.simp_pms{
		float: none;
		display: block;
		width: 100%;
	}

	.simp_pms .item{
		width: 100%;
		margin: 0 0 15px;
		max-width: none;
	}

	.norm_1,
	.norm_2,
	.plan_1,
	.plan_2{
		width: auto;
		float: none;
		display: block;
		margin: 0 auto 10px;

	}

	.inner_title{
		font-size: 20px;
	}

	.thr_wrap .item .title{
		font-size: 22px;
	}


	.pre_header_content img{
		max-width: 100%;
	}

	.text_content{
		width: 55%;
	}

	.app_icons{
		width: 43%;
		float: none;
	}

	.app_icons a{
		display: block;
		text-align: right;
	}

	.app_icons img{
		display: inline-block;
		width: 70%;
	}

	.title_bordered{
		font-size: 18px;
	}

	.descr_main{
		font-size: 16px;
		line-height: 22px;
	}

	footer{
		margin-bottom: 15px;
	}

	.under_footer{
		font-size: 18px;
		padding: 0 15px 10px;
	}

	.vit_container{
		margin-top: 0;
	}

	.vit_container a.vit_link{
		max-width: 60px;
	}

	.about_bottom_items .item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.about_bottom_items .item .text{
		text-align: center;
	}



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	

}
